body
{
	direction: ltr;
	/*font-family: "Roboto","Ubuntu Mono", "Acme", "Alegreya Sans" sans-serif ;*/
    font-family: 'Alegreya Sans', sans-serif;
    /*font-family: 'Acme', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Ubuntu Mono', monospace;*/

}
.posts
{
	padding: 8px;
	margin:0;
}
.posts ul
{
	padding: 0;
	margin-right: 0;
	margin-bottom: 20px; 
	list-style: none;
}
.posts a
{
	color : #343a40;
	padding: 0;
}
.posts a:hover
{
	color : #2980b9;
	text-decoration: none;
}
.posts .row h3
{
	font-size: 25px;	
}
.test
{
	border: 1px #222 solid;
}
*
{
	-webkit-transition: all .5s ease;
		       -moz-transition: all .5s ease;
		        -ms-transition: all .5s ease;
		         -o-transition: all .5s ease;
		            transition: all .5s ease;
}

.sidebar ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}
.posts ul h4 
{
	padding-left: 12px;
	color: rgba(50,50,50,0.5);
	font-size: 15px;
}

footer{
	margin-top: 45px;
	color: white;
}
footer a{
  color: #bfffff;
}
footer a:hover{
  color: white;
}

.footer-bottom p 
{
	margin: 0;
	padding: 0;
}
.footer-bottom{
  background:#2d4958;
  padding: 0.3em;
}
.footer-top{
  background: #2d4958;  
}
.footer-middle{
   background: #343a40;
  padding-top: 2em;
  color: white;
}

footer a 
{
	color: #2ff;

}
footer a:hover 
{
	color: #fff;
	text-decoration: none;
	direction: ltr; 
}
.single_image
{
	width: 40%;
	float: left;
	position: relative;
	top: -3px;
	left: -3px;
	clear: none;
	padding: 8px;
}
.single_post 
{
	min-height: 300px;
	margin-top: 25px;
}
.single_post h1 i 
{
	color: #0067b0;
}
.single_post h1
{
	text-align: center;
}
.single_post p
{
	/*font-family: 'Alegreya Sans', sans-serif;*/
	/*font-size: 15px;*/
}
.single_post a
{
	color: #3498db;
	font-family: 'Alegreya Sans', sans-serif; 
}
.single_post a:hover
{
	color: #34495e;
}

/* ## ** ## ** ### *** HOME *** ### ** ## ** ## */

#Home
{
	background: #264348;
}
#Home .container
{
	/*width: 40%;*/
	/*border: 1px #fff solid;*/
	padding: 15% 21%;
}
#Home .container a
{
	width: 100%;
	padding:  12px;
	text-align: center;
	font-size: 20px;
	font-family: 'Alegreya Sans', sans-serif;
	/*height: 50px;*/
}
#Home .container img
{
	/*border-radius: 200px;*/
	width: 100%;
}
#Home .az, #Home .en
{
	padding-top: 20px;
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: transform;
  transition-property: transform;
  width: 100%;
  height: 100%;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 70%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-25px);
  transform: translateY(-25px);
    -webkit-transition: transform .05s ease-in-out;
    -moz-transition:transform .05s ease-in-out;
    -ms-transition:transform .05s ease-in-out;  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(25px);
  transform: translateY(25px);
/*      -webkit-transition: transform 1.05s ease-in-out;
    -moz-transition:transform 1.05s ease-in-out;
    -ms-transition:transform 1.05s ease-in-out;*/
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}